body {
  background-color: #F0F6FF;
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
}

#title h1 {
  font-size: 2.5rem;
}

#title p {
  bottom: 20px;
  position: relative;
}

#about {
  margin: 1.5rem auto;
  padding: 0.5rem;
  max-width: 700px;
  background-color: #f5f9ff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  bottom: 20px;
  position: relative;
}

#about h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  bottom: 10px;
  position: relative;
}

#about p {
  font-size: 1rem;
  line-height: 1.6;
  bottom: 20px;
  position: relative;
}

.about-header {
  display: flex;
  gap: 10px;
}

#info {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  padding: 10px;
}

#personal {
  margin: 1.5rem auto;
  padding: 0.5rem;
  max-width: 700px;
  background-color: #f5f9ff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  bottom: 20px;
  position: relative;
}

#personal p {
  bottom: 15px;
  position: relative;
}

#personal h3 {
  bottom: 10px;
  position: relative;
}

form {
  max-width: 800px;
  margin: 0 auto;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-groups {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input {
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-wrap: wrap;
}

form label {
  bottom: 10px;
  position: relative;
  font-weight: 500;
}

#inputActivities {
  width: 100%;
  padding: 20px;
  resize: vertical;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  text-align: left;
}

#submitButton {
  width: 100%;
  background-color: #111;
  color: white;
  margin: 1rem;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: background-color 1s;
}

#submitButton:hover {
  background-color: #2d2c2c;
}

#resume {
  margin: 1.5rem auto;
  padding: 0.5rem;
  max-width: 700px;
  background-color: #f5f9ff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  bottom: 20px;
  position: relative;
}

#resume h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  bottom: 10px;
  position: relative;
}

#resumesubmit {
  background-color: #111;
  transition: background-color 1s;
  color: white;
}

#resumesubmit:hover {
  background-color: #2d2c2c;
}

#scholarships {
  margin: 1.5rem auto;
  padding: 0.5rem;
  max-width: 700px;
  background-color: #f5f9ff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  bottom: 20px;
  position: relative;
}